@charset "UTF-8";
body {
  font-family: "badtyp", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.about-me__inner {
  max-width: 900px;
  max-width: 56.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

.about-me__contents {
  margin-top: 24px;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .about-me__contents {
    display: block;
  }
}

.about-me__image {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .about-me__image {
    width: 100%;
    margin: 0 auto;
  }
}

.about-me__explain {
  padding-left: 32px;
  padding-left: 2rem;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .about-me__explain {
    width: 80%;
    margin: 1.5rem auto 0;
    padding-left: 0;
  }
}

.about-me__skills {
  margin-top: 24px;
  margin-top: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .about-me__title {
    padding-top: 1.5rem;
  }
}

.about-me__coding,
.about-me__design {
  padding-left: 8px;
  padding-left: 0.5rem;
}

.archive-works__inner {
  max-width: 900px;
  max-width: 56.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

.archive-works__items {
  margin-top: 48px;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .archive-works__items {
    display: block;
  }
}

.archive-works__item {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .archive-works__item {
    width: 100%;
  }
}

.archive-works__item:nth-child(2n) {
  margin-left: 32px;
  margin-left: 2rem;
}
@media screen and (max-width: 768px) {
  .archive-works__item:nth-child(2n) {
    margin-left: 0;
  }
}

.archive-works__item:nth-child(n+3) {
  margin-top: 48px;
  margin-top: 3rem;
}
@media screen and (max-width: 768px) {
  .archive-works__item:nth-child(n+3) {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .archive-works__item:nth-child(n+1) {
    display: inline-block;
    margin-top: 3.5rem;
  }
}

.archive-works__image {
  width: 100%;
  position: relative;
}

.archive-works__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
  /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
}

.archive-works__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}

.archive-works__title {
  margin-top: 24px;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
}

.breadcrumb-layout {
  margin-top: 100px;
  margin-top: 6.25rem;
}

.breadcrumb__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb__list {
  margin-left: 30px;
  margin-left: 1.875rem;
}

.button {
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  color: #fff;
  background-color: blue;
  border-radius: 1.5rem;
  padding: 8px 32px;
  padding: 0.5rem 2rem;
}

.category-layout {
  margin-top: 100px;
  margin-top: 6.25rem;
}

.category__inner {
  max-width: 800px;
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category__data {
  display: inline-block;
  margin-left: 30px;
  margin-left: 1.875rem;
}

.concept {
  background-color: yellow;
}

.concept__inner {
  max-width: 900px;
  max-width: 56.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

.concept__contents {
  margin-top: 24px;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.concept__explain {
  margin-top: 48px;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .concept__explain {
    display: block;
  }
}

.concept__explain:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.concept__image {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .concept__image {
    width: 100%;
  }
}

.concept__image img {
  border-radius: 0.625rem;
}

.concept__textBox {
  width: 50%;
  padding: 32px;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .concept__textBox {
    width: 100%;
  }
}

.concept__heading {
  font-size: 28px;
  font-size: 1.75rem;
}

.concept__text {
  padding-top: 24px;
  padding-top: 1.5rem;
  font-size: 18px;
  font-size: 1.125rem;
}

.contact__inner {
  max-width: 900px;
  max-width: 56.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  background-color: red;
  max-width: 100vw;
}

.contact__contents {
  margin-top: 24px;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__button {
  margin-top: 48px;
  margin-top: 3rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact__button {
    margin-top: 3.5rem;
  }
}

.fontawesome::before {
  font-family: "Font Awesome 5 Free";
  /*←ココ！！！！！！！*/
  font-weight: 400;
  content: "\f779";
}

.footer {
  background-color: blue;
  color: #fff;
  z-index: 11111;
  width: 100%;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .footer {
    height: 50px;
  }
}

.footer__inner {
  max-width: 900px;
  max-width: 56.25rem;
  width: 100%;
  margin: 0 auto;
  height: inherit;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}
@media screen and (max-width: 768px) {
  .footer__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav-item {
  height: inherit;
}

.footer__nav-item a {
  height: inherit;
  font-size: 16px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 12px;
  padding: 0 0.75rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .footer__nav-item a {
    padding-top: 0.75rem;
  }
}

.hamburger {
  display: none;
  z-index: 11111;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    margin-left: auto;
    margin-right: 1.5rem;
  }
}

.hamburger span {
  position: relative;
  display: block;
  height: 4px;
  height: 0.25rem;
  width: 32px;
  width: 2rem;
  background: blue;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 5px 0;
  margin: 0.3125rem 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

/*======================================
top                                        
======================================*/
.hamburger.is-open span:nth-child(1) {
  top: 10.2px;
  top: 0.6375rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.is-open span:nth-child(2) {
  -webkit-transform: translateY(45deg);
          transform: translateY(45deg);
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  top: -7px;
  top: -0.4375rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header {
  background-color: yellow;
  z-index: 11111;
  width: 100%;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .header {
    height: 50px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px;
  padding: 0 1rem;
  height: inherit;
}

.header__logo {
  width: 80px;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__pc-nav {
  margin-left: auto;
  height: inherit;
}

.header__pc-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__pc-nav__item {
  height: inherit;
}

.header__pc-nav__item a {
  color: blue;
  height: inherit;
  font-size: 16px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 12px;
  padding: 0 0.75rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header__pc-nav__item a {
    display: none;
  }
}

.header__sp-nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__sp-nav__items {
    position: relative;
    z-index: 1111;
    background-color: red;
    height: 100vh;
    width: 80vw;
    padding-top: 6.25rem;
  }
}

@media screen and (max-width: 768px) {
  .header__sp-nav__item {
    overflow-y: scroll;
    width: 100%;
    display: inline-block;
    padding: 3.125rem 0;
    text-align: center;
    font-size: 2rem;
  }
}

.index {
  padding: 200px 200px;
  padding: 12.5rem 12.5rem;
  text-align: center;
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.message {
  padding: 40px;
  padding: 2.5rem;
}

.message__inner {
  text-align: center;
}

.message__text {
  color: #fff;
}

.mv {
  background-color: rgb(28, 18, 223);
}
.mv__content {
  text-align: center;
  padding: 80px;
  padding: 5rem;
}

.mv__title {
  margin-top: 32px;
  margin-top: 2rem;
  color: #fff;
  font-size: 56px;
  font-size: 3.5rem;
  font-family: "badtyp", sans-serif;
}

.mv__message {
  margin-top: 32px;
  margin-top: 2rem;
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
}

.pagination__inner {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

.page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-numbers li {
  margin-left: 20px;
  margin-left: 1.25rem;
}

.section-layout {
  padding-top: 120px;
  padding-top: 7.5rem;
  padding-bottom: 80px;
  padding-bottom: 5rem;
}

.section-title {
  text-align: center;
}

.section-title__index {
  font-size: 48px;
  font-size: 3rem;
  color: blue;
}

.sub-contact__inner {
  max-width: 900px;
  max-width: 56.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

.sub-contact__message {
  margin-top: 32px;
  margin-top: 2rem;
  text-align: center;
}

.sub-contact__items {
  margin-top: 32px;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .sub-contact__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sub-contact__item input {
  margin-top: 16px;
  margin-top: 1rem;
  border: 2px solid #111;
  border: 0.125rem solid #111;
  background-color: #fff;
  color: #979797;
  font-size: 14px;
  font-size: 0.875rem;
  width: 100%;
  padding: 8px 8px;
  padding: 0.5rem 0.5rem;
}

.sub-contact__button-area {
  margin-top: 32px;
  margin-top: 2rem;
  text-align: center;
}

.sub-contact__button {
  padding: 24px 64px;
  padding: 1.5rem 4rem;
  color: #fff;
  background-color: blue;
  border-radius: 0.625rem;
}

.sub-contact__item + .sub-contact__item {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .sub-contact__item + .sub-contact__item {
    margin-top: 2.625rem;
  }
}

.sub-contact__item label {
  font-size: 14px;
  font-size: 0.875rem;
  color: #111;
}
@media screen and (max-width: 768px) {
  .sub-contact__item label {
    width: 10rem;
    white-space: nowrap;
    padding-top: 1.25rem;
  }
}

.sub-contact__item textarea {
  margin-top: 16px;
  margin-top: 1rem;
  background-color: #fff;
  color: #979797;
  font-size: 14px;
  font-size: 0.875rem;
  width: 100%;
  padding: 8px 8px 8px 8px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 2px solid #111;
  border: 0.125rem solid #111;
}
.sub-works__inner {
  max-width: 900px;
  max-width: 56.25rem;
  width: 100%;
  margin: 0 auto;
}

.sub-works__contains {
  margin-top: 80px;
  margin-top: 5rem;
}

.sub-works__image {
  width: 100%;
  position: relative;
}

.sub-works__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
  /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
}

.sub-works__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}

.sub-works__explain {
  margin-top: 24px;
  margin-top: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .sub-works__explain {
    margin-top: 3.5rem;
  }
}

.sub-works__title {
  font-size: 32px;
  font-size: 2rem;
}

.sub-works__lists {
  margin-top: 32px;
  margin-top: 2rem;
  text-align: left;
}

.sub-works__reals {
  margin-top: 32px;
  margin-top: 2rem;
}

.sub-works__textBox {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .sub-works__textBox {
    margin-top: 4rem;
  }
}

.sub-works__sub-title {
  text-align: left;
  font-size: 24px;
  font-size: 1.5rem;
}

.sub-works__text {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .sub-works__text {
    margin-top: 1rem;
  }
}

.sub-works__comment {
  margin-top: 48px;
  margin-top: 3rem;
  text-align: left;
}

.works {
  background-color: green;
}

.works__inner {
  max-width: 900px;
  max-width: 56.25rem;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

.works__items {
  margin-top: 24px;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .works__items {
    display: block;
  }
}

.works__image {
  width: 40%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .works__image {
    width: 100%;
    margin-top: 1.5rem;
  }
}

.works__image:nth-child(n+3) {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (max-width: 768px) {
  .works__image:nth-child(n+3) {
    margin-top: 2rem;
  }
}

.works__image:nth-child(2n) {
  margin-left: 24px;
  margin-left: 1.5rem;
}
@media screen and (max-width: 768px) {
  .works__image:nth-child(2n) {
    margin-left: 0;
  }
}

.works__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.works__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.625rem;
}

.works__button {
  margin-top: 48px;
  margin-top: 3rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .works__button {
    margin-top: 3.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */
