@use 'global' as *;

.breadcrumb {
    font-family: $second-font-family;

}

.breadcrumb__lists {
    display: flex;
    @include mq('md') {
       font-size: rem(40); 
    }
}

.breadcrumb__list {
    margin-left: rem(30);
}
