@use 'global' as *;

.category {
    font-family: $second-font-family;
}

.category-layout {
    margin-top: rem(40);
    margin-left: rem(30);
}

.category__inner {
    max-width: rem(900);
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.category__data {
    display: inline-block;
    margin-left: rem(30);
}