@use 'global' as *;

.concept {
    background-color: yellow;
}

.concept__inner {
    max-width: rem(900);
    width: 100%;
    margin: 0 auto;
    padding: $padding-pc;
}

.concept__contents {
    margin-top: rem(24);
    display: flex;
    flex-wrap: wrap;
}

.concept__explain {
    margin-top: rem(48);
    display: flex;
    align-items: center;
    @include mq('md') {
       display: block; 
    }
}

.concept__explain:nth-child(2n) {
    flex-direction: row-reverse;
}

.concept__image {
    width: 50%;
    @include mq('md') {
       width: 100%; 
    }
}

.concept__image img{
    border-radius: rem(10);
}

.concept__textBox {
    width: 50%;
    padding: rem(32);
    @include mq('md') {
        width: 100%; 
     } 
}


.concept__heading {
    font-size: rem(28);
}

.concept__text {
    padding-top: rem(24);
    font-size: rem(18);
}