@use 'global' as *;

.contact {
    background-color: $sub-accent;

}

.contact__inner {
    max-width: rem(900);
    width: 100%;
    margin: 0 auto;
    padding: $padding-pc;
}

.contact__contents {
    margin-top: rem(24);
    display: flex;
    justify-content: center;
}

.contact__message {
    font-family: $second-font-family;
}

.contact__button {
    margin-top: rem(48);
    text-align: center;
    @include mq('md') {
       margin-top: rem(56); 
    }
}


