@use 'global' as *;

.contact {

}

.contact__inner {
    max-width: rem(900);
    width: 100%;
    margin: 0 auto;
    padding: $padding-pc;
    // トライ↓
    background-color: red;
    max-width: 100vw;
}

.contact__contents {
    margin-top: rem(24);
    display: flex;
    justify-content: center;
}

.contact__message {

}

.contact__button {
    margin-top: rem(48);
    text-align: center;
    @include mq('md') {
       margin-top: rem(56); 
    }
}



// iframeのトライ
.map {
    position: relative;
    width: 100%;
    padding-top: 40.6%;
    //   margin: 0 calc(50% - 50vw);
  }
  .map iframe {
      position:absolute;
      top:50%;
      left:50%;
        transform: translate(-50%, -50%); 
      width:80%;
      height:60%;
      border:none;
      display:block;
  }
