@use 'global' as *;

$drawer-width: rem(32);
$drawer-height: rem(4);
$drawer-color: $text;

.hamburger {
    display: none;
    z-index: 11111;
    @include mq(md) {
        display: block;
        margin-left: auto;
        margin-right: rem(24);
    }
}

.hamburger span {
    position: relative;
    display: block;
    height: $drawer-height;
    width: $drawer-width;
    background: $drawer-color;
    transition: ease .3s;
    @include mq('md') {
       width: rem(80);
       height: rem(16);
    }
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    margin: rem(5) 0;
    @include mq('md') {
       margin: rem(16) 0; 
    }
} 

.hamburger span:nth-child(3) {
    top: 0;
} 

/*======================================
top                                        
======================================*/
.hamburger.is-open span:nth-child(1)  {
    top: rem(10.2);
    transform: rotate(45deg);
    @include mq('md') {
       top: rem(56); 
    }
}

.hamburger.is-open span:nth-child(2) {
    transform: translateY(45deg);
    opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
    top: rem(-7);
    transform: rotate(-45deg);
}


