@use 'global' as *;

.header {
    background-color: $sub-accent;
    z-index: 11111;
    width: 100%;
    transition: background-color .8s;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @include mq('md') {
       height: 80px; 
    }
}

.header__inner {
    display: flex;
    padding: 0 rem(16);
    height: inherit;
    @include mq('md') {
       padding: 0 rem(32); 
    }
}

.header__logo {
    width: rem(80);
    display: flex;
    align-items: center;
    @include mq('md') {
       width: rem(130); 
    }
}

// pcのheaderメニュー
.header__pc-nav {
    margin-left: auto;
    height: inherit;
    
}

.header__pc-nav__items {
    display: flex;
    align-items: center;
    height: inherit;
}

.header__pc-nav__item {
    height: inherit;
}

.header__pc-nav__item a {
    color: blue;
    height: inherit;
    font-size: rem(16);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(12);
    position: relative;

@include mq('md') {
       display: none; 
    }
}

// spのモーダルメニュー
.header__sp-nav {
    display: none;
}

.header__sp-nav__items {
    @include mq('md') {
        position: relative;
        z-index: 1111;
        background-color: $accent;
        color: $black;
        height: 100vh;
        width: 81vw;
        padding-top: rem(100);
    }
}

.header__sp-nav__item {
    @include mq('md') {
        overflow-y: scroll;
        width: 100%;
        display: inline-block;
        padding: rem(50) 0; 
        text-align: center;
        font-size: rem(80);
    }
}
