@use 'global' as *;

.mv {
    padding-top: rem(50);
    background-color: rgb(28, 18, 223);
    @include mq('md') {
       padding-top: rem(160); 
    }
}

.mv__content {
    text-align: center;
    padding: rem(80);
}

.mv__title {
    margin-top: rem(32);
    color: $white;
    font-size: rem(56);
    font-weight: $normal;
    @include mq('md') {
       font-size: rem(120); 
    }
}

.mv__message {
    margin-top: rem(32);
    color: $white;
    font-size: rem(24);
    @include mq('md') {
        font-size: rem(48);
    }
}