@use 'global' as *;

.pagination{
   margin:40px 0 0;
}
.nav-links{
   display:flex;
}
.pagination .page-numbers{
   display:inline-block;
   margin-right:20px;
   padding:20px 25px;
   color:#333;
   border-radius:3px;
   box-shadow:0 3px 3px #999;
   background:#fff;
}
.pagination .current{
   padding:20px 25px;
   background:#69a4db;
   color:#fff;
}
.pagination .prev,
.pagination .next{
   background:transparent;
   box-shadow:none;
   color:#69a4db;
}
.pagination .dots{
   background:transparent;
   box-shadow:none;
}
.pagination{
   margin:40px 0 0;
}
.nav-links{
   display:flex;
}
.pagination .page-numbers{
   display:inline-block;
   margin-right:20px;
   padding:20px 25px;
   color:#333;
   border-radius:3px;
   box-shadow:0 3px 3px #999;
   background:#fff;
}
.pagination .current{
   padding:20px 25px;
   background:#69a4db;
   color:#fff;
}
.pagination .prev,
.pagination .next{
   background:transparent;
   box-shadow:none;
   color:#69a4db;
}
.pagination .dots{
   background:transparent;
   box-shadow:none;
}





// .page-numbers {
//    text-align: center;
//    list-style-position: inside;
//    list-style-type: none;
//    padding: 0;
// }
// .page-numbers li {
//    display: inline-block;
// }
// .page-numbers a {
//    display: inline-block;
//    padding: .5rem;
//    margin: 0 .2rem .2rem 0;
//    background: #fff;
//    border: 1px solid #ccc;
// }
// .page-numbers span {
//    display: inline-block;
//    padding: .5rem;
//    margin: .2rem;
//    border: 1px solid #ccc;
// }