@use 'global' as *;

.section-title {
    text-align: center;
    @include mq('md') {
       margin-top: rem(80); 
    }
}

.section-title__index {
    font-size: rem(48);
    color: $accent;
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
    transform: translate(-100px, -50px);
    @include mq('md') {
       font-size: rem(104); 
    }
}

.section-title__index--white {
    font-size: rem(48);
    color: $white;
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
    transform: translate(-100px, -50px);
    @include mq('md') {
       font-size: rem(104); 
    }
}

.section-title__sub {
    font-size: rem(24);
    color: $accent;
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
    transform: translate(-100px, -50px);
    @include mq('md') {
        font-size: rem(32);
    }
}


.scroll-in {
    opacity: 1;
    transform: translate(0, 0);
  }