@use 'global' as *;

.sub-works {

}

.sub-works__inner {
    max-width: rem(900);
    width: 100%;
    margin: 0 auto;
}

.sub-works__contains {
    margin-top: rem(80);
}

.sub-works__image {
    width: 100%;
    position: relative;
}
.sub-works__image::before {
    content:"";
    display: block;
    padding-top: 56.25%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
}
.sub-works__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.sub-works__explain {
    margin-top: rem(24);
    text-align: center;
    @include mq('md') {
       margin-top: rem(56); 
    }
}

.sub-works__title {
    font-size: rem(32);
}

.sub-works__lists {
    margin-top: rem(32);
    text-align: left;
    // border: rem(1) solid blue;
}

.sub-works__list {

}

.sub-works__reals {
    margin-top: rem(32);
}

.sub-works__real {

}

.sub-works__textBox {
    margin-top: rem(32);
    @include mq('md') {
        margin-top: rem(64);
    }
}

.sub-works__sub-title {
    text-align: left;
    font-size: rem(24);
}

.sub-works__text {  
    text-align: left;
    @include mq('md') {
       margin-top: rem(16); 
    }
}


.sub-works__comment {
    margin-top: rem(48);
    text-align: left;

}